@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@font-face {
  font-family: 'Queens Park';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/queens-park.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0; padding: 0;  
}

body {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/f/f0/Sunset_fishing_pole_at_Occoneechee_State_Park_(6076912041).jpg");
  background-size: cover; /* 100% 10%px; */  
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

body > h1 { 
  font-family: Queens Park, serif;
  font-size: 4rem;  
  margin: 0;
  padding: 0;    
}

.firstSection { 
  margin: 0 auto;
  padding: 35px;
  /*border:2px solid #000;*/
  background: rgba(255,255,255,0.4);  
}

article.item {
  max-width: 300px;    
  margin-left: 10px;    
  border: 2px solid #777;
  box-shadow: 3px 3px 15px #555;
  -moz-border-radius: 15px;
  border-radius: 5px;    
  padding: 5px;    
  background: rgba(255,255,255,0.5);  
  margin: 5px;
}

article > img {
  max-width: 300px;
  width: auto;  
}

.articlePopover {
  left: 2%;
  top: 2%;
  max-width: 900px;  
  /*max-height:80vh;*/
  margin: auto;  
  border: 2px solid grey;
  position: absolute;
  z-index: 2000;
  background: rgba(255,255,255,0.9);  
  overflow: auto;
  resize: both; 
  box-shadow: 5px 5px 25px #555;
  -moz-border-radius: 15px;
  border-radius: 5px;    
  padding: 25px;
  display: none;  
}

.popover > h1, .popover > p { 
  text-align: justify; 
  min-width: 150px;
}

.popover > img {
  float: right;
}

@media only screen
and (max-width: 480px) {

  html, body {
    margin: 0;
    padding: 0;
  }

  .firstSection {
    margin: 0;
    padding: 0;
    width: 100% !important;
  }

  article.item {
    padding: 0;
    margin: 15px 0;
    max-width: none;
    width: 100% !important;
    border: none;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    -moz-border-radius: 0px;
    border-radius: 0px; 
  }

  article.item img {
    max-width: 100%;
    min-width: 100%;
  }

  article.item h1 {
    margin: 18px 10px;
    font-size: 28px;
  }

  article.item p {
    margin: 18px 10px;
    font-size: 18px;
  }

  div.articlePopover {
    left: 0;
    top: 0;
    margin: 0;
    padding: 15px 0;
    max-width: none;
    width: 100%;
  }

  div.articlePopover img {
    min-width: 100%;
  }

  div.articlePopover h1 {
    margin: 18px 10px;
    font-size: 28px;
  }

  div.articlePopover p {
    margin: 18px 10px;
    font-size: 18px;
  }
}